<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

  <!-- Specify some colours -->
  <material name="white">
    <color rgba="1 1 1 0.8"/>
  </material>

  <material name="red">
    <color rgba="1 0 0 0.8"/>
  </material>

  <material name="blue">
    <color rgba="0 0 1 0.8"/>
  </material>

  <material name="green">
    <color rgba="0 1 0 0.8"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 0.8"/>
  </material>


  <!-- This link is help to identify the vehicle -->
  <!--
  <link name="map">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  -->

  <link name="base_link">
    <!-- body base -->
    <visual>
      <origin rpy="0 0 0" xyz="1.355 0 0.675"/>
      <geometry>
        <box size="2.71 1.60 1.35"/>
      </geometry>
      <material name="white"/>
    </visual>

    <!-- body top
    <visual>
      <origin rpy="0 0 0" xyz="1.355 0 1.1"/>
      <geometry>
        <box size="1.355 1.60 0.6"/>
      </geometry>
    </visual>
    -->

    <collision>
      <geometry>
        <box size="2.71 1.60 1.90"/>
      </geometry>
      <origin rpy="0 0 0" xyz="1.355 0 0.675"/>
    </collision>

    <!-- front left wheel -->
    <visual>
      <origin rpy="1.570796327 0 0" xyz="2.71 0.8 0"/>
      <geometry>
        <cylinder radius="0.3" length="0.225"/>
      </geometry>
      <material name="black"/>
    </visual>

    <!-- front right wheel -->
    <visual>
      <origin rpy="1.570796327 0 0" xyz="2.71 -0.8 0"/>
      <geometry>
        <cylinder radius="0.3" length="0.225"/>
      </geometry>
      <material name="black"/>
    </visual>

    <!-- rear left wheel -->
    <visual>
      <origin rpy="1.570796327 0 0" xyz="0 0.8 0"/>
      <geometry>
        <cylinder radius="0.3" length="0.225"/>
      </geometry>
      <material name="black"/>
    </visual>

    <!-- rear right wheel -->
    <visual>
      <material name="black"/>
      <origin rpy="1.570796327 0 0" xyz="0 -0.8 0"/>
      <geometry>
        <cylinder radius="0.3" length="0.225"/>
      </geometry>
    </visual>
  </link>

  <!-- A simple fixed joint from our empty map link, to our base. -->
  <!-- The base origin is offset from the map origin -->
  <!--
  <joint name="map_to_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.3"/>
    <parent link="map"/>
    <child link="base_link"/>
  </joint>
  -->

  <!-- GPS object -->
  <link name="gps_link">
    <visual>
      <geometry>
        <box size="0.2 0.05 0.05"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="base_to_gps_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.05 0.32 0.63"/>
    <parent link="base_link"/>
    <child link="gps_link"/>
  </joint>

  <!-- IMU object -->
  <link name="imu_link">
    <!-- Same object with GPS. Only put the link. -->
  </link>

  <joint name="base_to_imu_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.05 0.32 0.63"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <!-- LiDAR -->
  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.15"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="imu_to_lidar_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.81 -0.32 0.8"/>  <!-- okay! double checked. -->
    <parent link="imu_link"/>
    <child link="lidar_link"/>
  </joint>

  <!-- Camera -->
  <!-- Camera gray left -->
  <link name="gray_left_camera_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.1"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <joint name="lidar_to_gray_left_camera_joint" type="fixed">
    <!-- warning!!! the coordinate is different!!! -->
    <!-- x: pointing right, y: pointing down, z: pointint front-->
    <origin rpy="-1.570796327 0 -1.570796327" xyz="0.27 0 -0.08"/>
    <parent link="lidar_link"/>
    <child link="gray_left_camera_link"/>
  </joint>

  <!-- Camera color left
  <link name="color_left_camera_link">
    <visual>
      <geometry>
        <box size="0.1 0.05 0.05"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <joint name="gray_left_camera_to_color_left_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.06 0"/>
    <parent link="gray_left_camera_link"/>
    <child link="color_left_camera_link"/>
  </joint>
  -->

</robot>
